.searchAction {
    position:absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.searchGroup{
    position: relative;
    display: flex;
}
.searchItems{
    width: 100%;
}
.cartContainer{
    font-size: 20px;
    cursor: pointer;
}
.searchData{
    height: auto;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}